In [4]:
import pandas as pd
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
import urllib.parse
urllib.parse.quote_plus("****" )

'Cobber11%21'

In [5]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:****@localhost/books"

In [6]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

![png](books.png)

In [10]:
q = """SELECT books.book_title, favorites.users_id
FROM books
JOIN favorites ON books.books_id = favorites.books_id
WHERE favorites.users_id = 
    (SELECT users.users_id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""
pd.read_sql(q,engine)

         book_title  users_id
0       The Shining         1
1                It         1
2  The Great Gatsby         1